.btn:hover {
    border-color: white;
}

.modal-menu-detail-form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-menu-detail-form-group div {
    margin-right: 5px;
}

.modal-menu-detail-form-group button {
    margin-top: 1.3rem;
}

.modal-footer.delete-menu {
    justify-content: center;
}

.scrollable-content {
    max-height: 80vh;
    overflow-y: auto;
}

.modal-dialog-scrollable .modal-content {
    overflow: auto;
}

.card-body {
    overflow-x: auto;
    /* Aktifkan scroll horizontal jika diperlukan */
}

.fade {
    transition: none;
}

@media (min-width: 981px) {
    img.w-100 {
        max-width: 300px !important;
        /* New width for screens wider than 980px */
    }
}

@media screen and (max-width: 1199px) {
    .sidebar-wrapper .sidebar-header {
        padding: 2rem 1rem 1rem;
    }

    .sidebar-wrapper {
        position: fixed;
        height: auto;
    }
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Login page */
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 2rem;
}

.login-title {
    text-align: center;
    margin-bottom: 2rem;
}

.login-content {
    margin-bottom: 1.5rem;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-report {
    display: flex;
    gap: 20px;
    align-items: center;
}

.modal-report {
    max-width: 100%;
}

.report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-report {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.section-report-title {
    font-weight: bold;
    width: 50%;
}

.section-report-data {
    width: 50%;
}

.row-nav {
    --bs-gutter-x: 0;
}

.card-nav {
    margin-bottom: 0;
    overflow: visible;
    height: 60px;
    width: 200px;
    margin-right: 10px;
}

@media (max-width: 725px) {
    .card-nav {
        width: 100px;
    }

    .card-nav .card-header {
        padding-left: 0;
        padding-right: 0;
    }
}

.full-height {
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    /* Spacing between cards */
    padding: 16px;
    /* Padding around the grid */
}

.grid-card {
    background-color: #fff;
    /* Background color of the card */
    border: 1px solid #ddd;
    /* Border around the card */
    border-radius: 8px;
    /* Rounded corners */
    overflow: hidden;
    /* Prevents overflow of content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Shadow effect */
    transition: transform 0.2s;
    /* Animation for hover effect */

    display: grid;
    justify-content: center;
    align-content: stretch;
    align-items: end;
}

.grid-card:hover {
    transform: scale(1.05);
    /* Scale effect on hover */
}

.card-image {
    width: 100%;
    /* Full width for the image */
    height: auto;
    /* Maintain aspect ratio */
}

.card-content {
    padding: 16px;
    /* Padding inside the card */
    display: flex;
    /* Use flexbox */
    flex-direction: column;
    /* Align items vertically */
    justify-content: space-around;
    /* Spread out content */
    align-items: center;
    text-align: center;
}

.action-buttons {
    margin-top: 15px;
    /* Space above the action buttons */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    z-index: 1040;
    /* Ensure it sits above the content */
}

.status-add {
    background-color: #d4edda;
    /* Light green background */
    border: 1px solid #c3e6cb;
    /* Green border */
}

.status-subtract {
    background-color: #f8d7da;
    /* Light red background */
    border: 1px solid #f5c6cb;
    /* Red border */
}

.status-edit {
    background-color: #d1ecf1;
    /* Light blue background */
    border: 1px solid #bee5eb;
    /* Blue border */
}