.btn:hover {
    border-color: white;
}

.modal-menu-detail-form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-menu-detail-form-group div {
    margin-right: 5px;
}

.modal-menu-detail-form-group button {
    margin-top: 1.3rem;
}

.modal-footer.delete-menu {
    justify-content: center;
}

.scrollable-content {
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow-y: auto;
}

.card-body {
    overflow-x: auto; /* Aktifkan scroll horizontal jika diperlukan */
}

@media (min-width: 981px) {
    img.w-100 {
        max-width: 300px !important; /* New width for screens wider than 980px */
    }
}